<footer class="py-8 text-sm font-light text-center">
  <div class="flex flex-col justify-center space-y-8">
    <p>
      &copy; <%= current_year %> <%= render ::Link.new(href: root_path).with_content("mutecipher") %>. All rights reserved.
    </p>
  </div>
</footer>
