<h1 data-controller="scramble" id="title" class="px-2 py-2 font-mono text-3xl font-black tracking-widest duration-300 ease-in-out transform dark:hover:text-zinc-300 hover:text-zinc-700">
  mutecipher
</h1>
