<!DOCTYPE html>
<html lang="en" class="antialiased bg-white text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="w-full font-sans scroll-smooth">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
